<a href="https://colab.research.google.com/github/baker371/k8-data-visualization/blob/lwasampijja-baker/upwork-devs/lwasampijja-baker/k8_traffic_generator_issues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import requests
import pandas as pd 
import json
from pandas.io.json import json_normalize #package for flattening json in pandas df

import warnings
warnings.filterwarnings('ignore')

In [5]:
token = ''

headers = {'X-Authentication-Token': token, }

url = 'https://api.zenhub.io/p1/repositories/289667349/board'

r = requests.get(url, headers=headers).json()

data = r 

data

{'pipelines': [{'id': 'Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTE4OTQ',
   'issues': [],
   'name': 'New Issues'},
  {'id': 'Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTE4OTY',
   'issues': [{'is_epic': False, 'issue_number': 6, 'position': 1},
    {'is_epic': False, 'issue_number': 8, 'position': 2},
    {'is_epic': False, 'issue_number': 34, 'position': 6},
    {'is_epic': False, 'issue_number': 36, 'position': 7},
    {'is_epic': False, 'issue_number': 37, 'position': 8},
    {'is_epic': False, 'issue_number': 38, 'position': 9},
    {'is_epic': False, 'issue_number': 39, 'position': 10},
    {'is_epic': False, 'issue_number': 40, 'position': 11},
    {'is_epic': False, 'issue_number': 42, 'position': 12},
    {'is_epic': False, 'issue_number': 43, 'position': 13}],
   'name': 'Backlog'},
  {'id': 'Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTE4OTc',
   'issues': [{'is_epic': False, 'issue_number': 10, 'position': 3},
    {'is_epic': False, 'issue_number': 32, 'position': 5},
    {'is_epic': False, 'issue_number': 44, 'position': 8},
    {'is_epic': False, 'issue_number': 46, 'position': 9},
    {'is_epic': False, 'issue_number': 45, 'position': 10},
    {'is_epic': False, 'issue_number': 35, 'position': 11},
    {'is_epic': False, 'issue_number': 12, 'position': 15},
    {'is_epic': False, 'issue_number': 41, 'position': 16}],
   'name': 'In Progress'},
  {'id': 'Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTU3NzY',
   'issues': [],
   'name': 'Peer Review'}]}

In [6]:
data1 = json_normalize(data, 'pipelines')
df = pd.DataFrame.from_dict(data1)
df= df[['name', 'issues']]
df = pd.concat([df.drop(['issues'], axis=1), df['issues'].apply(pd.Series)], axis=1)
df = df.groupby(by='name').agg('count')
df

             0  1  2  3  4  5  6  7  8  9
name
Backlog      1  1  1  1  1  1  1  1  1  1
In Progress  1  1  1  1  1  1  1  1  0  0
New Issues   0  0  0  0  0  0  0  0  0  0
Peer Review  0  0  0  0  0  0  0  0  0  0

In [7]:
df['Total'] = df.sum(axis=1)
df

             0  1  2  3  4  5  6  7  8  9  Total
name
Backlog      1  1  1  1  1  1  1  1  1  1     10
In Progress  1  1  1  1  1  1  1  1  0  0      8
New Issues   0  0  0  0  0  0  0  0  0  0      0
Peer Review  0  0  0  0  0  0  0  0  0  0      0

In [8]:
df= df[['Total']]

df

             Total
name
Backlog         10
In Progress      8
New Issues       0
Peer Review      0